body {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.background-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('./public/HeadImg.svg');
  background-size: 200px 100px;
  background-position: 100% 100%;
  background-repeat: repeat;
  opacity: 0.1;
  animation: scrollPattern 50s linear infinite;
  transform: rotate(5deg)
}